html,
body {
  padding: 0;
  margin: 0;
}

.axis {
  font: 14px sans-serif;
}

.line {
  fill: none;
  stroke: orange;
  stroke-width: 2px;
}

.tooltip {
  position: absolute;
  width: 135px;
  height: 60px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: white;
  text-align: center;
  background: #551aaf;
  border: 0;
  border-radius: 10px;
}
