<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Average New Deceased</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style2.css">
</head>
<body>
  <div class="col-md-12 jumbotron text-center" style="background-image:url(/Images/image1.jpg)"></div>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(38, 163, 163);">
        
    <div class="container-fluid" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Visualizations
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/avg_new_confirmed">Average New Confirmed</a>
              <a class="dropdown-item" href="/cum_new_ppl_fully_vaxxed">Cumulative New People Fully Vaccinated</a>
              <a class="dropdown-item" href="/avg_new_deceased">Average New Deceased</a>
              <a class="dropdown-item" href="/cum_deceased">Cumulative Deceased</a>
              <a class="dropdown-item" href="/scatterchart">Global Cumulative New People Fully Vaccinated vs Global Average New Confirmed Cases per Day</a>
              <a class="dropdown-item" href="/map">Covid Map</a>
            </div>
          </li>
        </ul>
      </div>
</nav>

  <div>
    <h5>Country</h5>
    <select id="selectButton" onchange="optionChanged(this.value)"></select>
  </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v5.js"></script>

<!-- Plotly import -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

<!-- Color Scale -->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript" src="js/logic_avg_new_deceased.js"></script>