<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid19</title>
    <meta property="og:title" content="Covid-19| Where are we in the flight?">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    
    <div class="col-md-12 jumbotron text-center" style="background-image:url(/Images/image1.jpg)"></div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(38, 163, 163);">
        <div class="container-fluid" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Visualizations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/avg_new_confirmed">Average New Confirmed</a>
                  <a class="dropdown-item" href="/cum_new_ppl_fully_vaxxed">Cumulative New People Fully Vaccinated</a>
                  <a class="dropdown-item" href="/avg_new_deceased">Average New Deceased</a>
                  <a class="dropdown-item" href="/cum_deceased">Cumulative Deceased</a>
                  <a class="dropdown-item" href="/scatterchart">Global Cumulative New People Fully Vaccinated vs Global Average New Confirmed Cases per Day</a>
                  <a class="dropdown-item" href="/map">Covid Map</a>
                </div>
              </li>
            </ul>
          </div>
    </nav>
    <!-- text-left -->

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <!-- <div class="plot-content"> -->
                <h1>Coronavirus Pandemic (COVID-19)</h1>
                        <h1> Where are we in the fight?</h1>
                        <hr>
            </div>
            <div class="col-md-12 text-center">
                <!-- <div class="col-md-6"> -->
                <p class="text-md-start" style="font-weight: bold;">After more than a year into the pandemic, the
                    Coronavirus is still on top of everyone’s mind. Our lives have changed dramatically, and the effect
                    of the virus continues to play a big role in our everyday lives.</p>

                <br>
                <p class="text-md-start" style="font-weight: bold;">COVID-19 vaccines are more widely available
                    worldwide. In the ever fast-evolving pandemic scenario, it is not simple to identify the countries
                    that are most
                    successfull in making prgress against the fight. In the US, everyone 16 and older is now eligible
                    to receive the vaccine. Yet only about 40% of Americans have received at least one shot and 25% are
                    fully vaccinated.</p>
                <h1>Our Project Mission</h1>
                <p class="text-md-start" style="font-weight: bold;"> Our dashboard investigates how effective the vaccine
                    is against the virus using data updated in real-time; it contains an interactive Covid-19 heatmap showing
                    every new fully vaccinated person, linecharts over time (days) showing the average number of new confirmed cases,
                    the average number of new deaths, the cumulative new peoples fully vaccinated, and cumulative new deaths.
                    The linecharts contain dropdowns for filtering based on country. There is also a scatterchart that shows global
                    cumulative new peoples fully vaccinated versus global average number of new confirmed cases. </p>
            </div>
            <!-- End of container -->
        </div>
    </div>
    <!-- <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br> -->
    <!-- Footer -->
    <footer class="footer fixed-bottom container text-center">
        <hr>
        <p>&copy; Copyright and presented by Team Elien: Kim H, Eddie B, Sebastian D, Daniel E</p>
    </footer>

      
    
  <!-- Footer -->
    <!-- End of footer -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>